{% extends "layout.html" %}

{% block title %}
    Homepage
{% endblock %}

{% block main %}
        <h1 class="pt-3">Where would you like to go today?</h1>
        <ul class="col-md-8 offset-md-2">
          <li class="fs-5 text-start">Find nearby destinations, sorted by rating</li>
          <li class="fs-5 text-start">Choose how far you're willing to travel</li>
          <li class="fs-5 text-start">Get after it and enjoy!</li>
        </ul>

        <div class="mb-5">
          <a href="/location">
            <button class="btn btn-primary btn-lg px-4">Get Started</button>
          </a>
        </div>

{% endblock %}