{% extends "layout.html" %}

{% block title %}
    Location
{% endblock %}

{% block main %}

        <script async src="https://maps.googleapis.com/maps/api/js?key={{ API_KEY }}&libraries=places&callback=initAutocomplete" async defer>
        </script>
        
        <script>
            let autocomplete;
            function initAutocomplete() {
                autocomplete = new google.maps.places.Autocomplete(
                    document.getElementById('autocomplete'),
                    {
                        fields: ['place_id', 'geometry', 'name']
                    }
                );

                autocomplete.addListener('place_changed', onPlaceChanged);
            }

            function onPlaceChanged() {
                var place = autocomplete.getPlace();

                // if user fails to select a valid location from the dropdown menu, reset the field
                if (!place.geometry) {

                    document.getElementById('autocomplete').placeholder = 'Enter Starting Address';
                }
                else {
                    document.getElementById('details').innerHTML = place.name;
                }
            }
        </script>

        <h1 class="pt-3">Let's get started!</h1>
        <p>Where are you starting from?</p>

        <form action="/location" method="post" autocomplete="off">
            <input autofocus class="searchbox" id="autocomplete" placeholder="Enter Starting Address" type="text" name="startpoint" required/>
            <div class="mb-5">
                <button type="submit" class="btn btn-primary btn-lg px-4">Let's Go!</a>
            </div>
        </form>

{% endblock %}